.login-button {
  background-color: white;
}

.login-form-container {
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: stretch; */
}

.login-welcome-board {
  width: 60%;
  text-align: center;
}

.form-right {
  flex-grow: 1;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.form-right .registration-button {
  width: 50%;
  align-self: center;
  margin-top: 30px;

  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  border-style: none;
  font-size: large;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: #707070;

  outline: none;
}

.form-container {
  border: solid #707070 2px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 80px;
  flex-grow: 1;
}

.form-container form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-container form input {
  width: 80%;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  border: 1px solid grey;
  padding-left: 20px;
  font-size: large;
  color: #707070;
}

.form-container form button {
  width: 50%;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  font-size: large;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
  color: #707070;

  outline: none;
  background-color: #c4ffc2;
}

.login-form-image {
  width: 60%;
}
